language: generic
branches:
  only:
    - master
matrix:
  include:
  - os: linux
    dist: xenial
    sudo: required
    language: cpp
    compiler: gcc
    addons:
      apt:
        sources:
          - ubuntu-toolchain-r-test
        packages:
          - g++-8
  - os: osx
    language: c++
    compiler: clang

before_install:
  - git clone https://github.com/Dekken/maiken --depth 1 -b master maiken
  - |
    if [[ "${TRAVIS_OS_NAME}" == "osx" ]]; then
      make bsd -C maiken CXX="clang++"
    elif [[ "${TRAVIS_OS_NAME}" == "linux" ]]; then
      sudo ln -s /usr/bin/gcc-8 /usr/local/bin/gcc; sudo ln -s /usr/bin/g++-8 /usr/local/bin/g++; gcc -v;
      make nix -C maiken
    fi
  - mv maiken/mkn .

script:
  - set -e
  - MKN_LIB_LINK_LIB=1 KLOG=3 ./mkn build -tOa "-fPIC -std=c++14" -d
  - MKN_LIB_LINK_LIB=1 KLOG=3 ./mkn build -tOa "-fPIC -std=c++14" -p test run -l "-pthread -ldl"
